

h1, h3 {
	color: white;
	font-weight: 400;
}



.hero {
	background-image: url("http://richardmiddleton.me/modal-hero.jpg");
	background-size: cover;
	height: 40px;
	width: 190%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	background-color: blue;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 20px;
	color: white;
	margin-left: 10px;
	display: inline-block;

}




.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;

}
